.cardClass {
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.card {
  border-radius: 8px;
  border: none;
}

.container {
  display: none;
  justify-content: center;
  background-color: rgb(55, 7, 13);
  padding-top: 15px;
}

.cardImage {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

#navSearch {
  display: none;
  width: 30%;
  margin-top: 7px;
}

header {
  background-color: white;
}

#foodBackground {
  background-image: url(./backgroundFood.jpeg);
  background-size: 125%;
  background-repeat: no-repeat;
  background-position: center top;
}

#drinkBackground {
  background-image: url(./backgroundDrink.jpg);
  background-size: 125%;
  background-repeat: no-repeat;
}

.title-bar-title {
  display: flex;
  justify-content: space-between;
}

.menu {
  margin-top: 10px;
}

#btn1 {
  color: red;
  font-family: "Playfair Display", serif;
  padding: 5px;
  text-align: left;
  font-size: 30px;
  padding-left: 20px;
}

.example {
  display: flex;
  justify-content: center;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 50%;
  border-style: none;
}

#searchBtn {
  width: 15%;
}

#searchBtn2 {
  width: 15%;
  margin-bottom: 8px;
  background-color: dimgrey;
  opacity: 30%;
}

a {
  color: red;
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
}
h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 165px;
  font-weight: bolder;
  color: ivory;
  -webkit-text-stroke: 1px ivory;
  -webkit-text-fill-color: ivory;
}

#searchTerm {
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  opacity: 50%;
  height: 3.75rem;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.drinkCardTitle {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  margin-left: 90px;
}

.cardDetailsContainer {
  max-width: 300px;
}



